.header{
    display: flex;
    justify-content: space-between;
    background-color:antiquewhite;

}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500;
    height: 400;
    margin: 20px;
}
.home{
    margin: 10px;
    
}
.content{
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;

}
.box1{ 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
 
    /* width: 100px; */
    /* height: 100px; */
    /* margin: 100px; */
     /* padding: 20px; */
}
img{
    border-radius: 20px;
    justify-content: space-around;
    margin: 20px;
    width: 250px;
    height:200px;
    margin-top: 100px;
    /* height: 400px; */
}

.meghna {
    margin-top: 100px;
    height:7px;
    background-color:rgb(28, 27, 27);
    /* width:100vw; */
}
.meghna1{
    height:7px;
    background-color:rgb(28, 27, 27);
    margin-top: 5px;
}
.copy
{
    align-items: center;
}